<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codeboy.mvc.model.dao.QuizRoomDao">

	<!-- 채팅방 생성 -->
	<insert id="insertQuizRoom" useGeneratedKeys="true"
            parameterType="QuizRoom"
		keyProperty="roomId">
		INSERT INTO
		quiz_room()
		VALUES();
	</insert>

	<!-- 채팅방 참가 -->
	<insert id="insertMemberToQuizRoom"
		parameterType="QuizRoomMember"
		>
		INSERT INTO
		quiz_room_member(member_id, room_id, is_host)
		VALUES(#{memberId}, #{roomId}, #{isHost});
	</insert>


	<!-- 모든 퀴즈룸 조회 -->
	<select id="selectAllQuizRoom" resultType="QuizRoom">
		SELECT *
		FROM
		quiz_room;
	</select>

	<!-- 하나의 퀴즈룸 조회 -->
	<select id="selectOneQuizRoom" resultType="GetQuizRoomMembersResponse"
		parameterType="long">
		SELECT
            qrm.member_id AS memberId,
            m.nickname
		FROM quiz_room_member qrm
        JOIN member m ON qrm.member_id = m.member_id
		WHERE qrm.room_id = #{roomId}
	</select>

	<!-- 퀴즈룸 삭제 -->
    <delete id="deleteQuizRoom" parameterType="long">
		DELETE FROM quiz_room
		WHERE room_id = #{roomId};
	</delete>

<!--    퀴즈룸 존재 확인-->
    <select id="existsQuizRoom" parameterType="long" resultType="int">
        SELECT COUNT(*)
        FROM quiz_room
        WHERE room_id = #{roomId}
    </select>

<!--    //멤버 존재 확인 -->
    <select id="isDuplicatedMember" parameterType="long" resultType="int">
        SELECT COUNT(1)
        FROM quiz_room_member
        WHERE member_id = #{memberId}
    </select>


</mapper>